
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@Model.Patient.Guid</title>
</head>
<body>
<h2>@Model.Patient.FirstName @Model.Patient.MiddleName @Model.Patient.LastName</h2>
<br/>
    <h3>Результаты анализов:</h3>
    <ul>
        @{
            foreach (var analysisResult in Model.AnalysisResults)
            {
                var resultValue = decimal.Round(analysisResult.Entry, 2, MidpointRounding.AwayFromZero);
                var referenceLow = decimal.Round(analysisResult.ReferenceLow, 2, MidpointRounding.AwayFromZero);
                var referenceHigh = decimal.Round(analysisResult.ReferenceHigh, 2, MidpointRounding.AwayFromZero);

                var resultInterpretation = "";
                if (resultValue < referenceLow)
                {
                    resultInterpretation = "Ниже нормы";
                }
                else if (resultValue < referenceHigh)
                {
                    resultInterpretation = "В норме";
                }
                else
                {
                    resultInterpretation = "Выше нормы";
                }

                var formattedResult = $"Тест: {analysisResult.TestName}, LOINC: {analysisResult.Loinc}.";
                @formattedResult
                formattedResult = $"Ваш показатель: {resultValue} ед. изм.; \n";
                @formattedResult
                formattedResult = $"Нижняя граница нормы: {referenceLow} ед. изм.;";
                @formattedResult
                formattedResult = $"Верхняя граница нормы: {referenceHigh} ед. изм.";
                @formattedResult
                formattedResult = $"Ваши показатели {resultInterpretation}";
                @formattedResult
            }
        }
    </ul>
<br/>
<h3>Возможные диагнозы:</h3>
<ul>
    @{
        foreach (var diagnosis in Model.Diagnoses)
        {
            foreach (var processedResult in Model.ProcessedResults)
            {
                if (processedResult.DiagnosisGuid == diagnosis.Guid)
                {
                    var probability = decimal.Round(processedResult.Value, 2, MidpointRounding.AwayFromZero);
                    var formattedResult = $"Диагноз {diagnosis.Name}, код МКБ-10 {diagnosis.MkbCode}" +
                                          $"Вероятность {probability} относительных единиц.";
                    <li>@formattedResult</li>
                }
            }
        }
    }
</ul>
</body>
</html>
